@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");

body {
  font-family: Aboreto, sans-serif;
  background-color: antiquewhite;
}

h1 {
  text-align: center;
  margin: 20px 0;
  letter-spacing: 9px;
}
div.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
img.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-container {
  margin: 20px 30%;
}
img {
  width: 100%;
  margin: 5px 0;
}

/* Mobile View */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  .img-container {
    margin: 20px 10%;
  }
}
